/* -------------------------------------------------------------------------- */
/*                                 initialize                                 */
/* -------------------------------------------------------------------------- */

/* ------------------------------ import fonts ------------------------------ */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300&display=swap');

:root {

/* ---------------------------- set up variables ---------------------------- */

/* ---------------------------------- fonts --------------------------------- */

    --fontsans: 'Roboto Condensed', sans-serif;

/* --------------------------------- colors --------------------------------- */

    --white:    #fefeff;
    --cream:    #fff8f3;
    --peach:    #f8e7e1;
    --coral:    #f4d4c9;

    --lightsky: #c5e6f6;
    --turquise: #31b4ba;
    --deepsky:  #51a3d1;
    --midnight: #1f426a;

    --yellow:   #fab14f;
    --orange:   #e8604d;
    --red:      #e33e4b;

}

/* -------------------------------- css reset ------------------------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* -------------------------------------------------------------------------- */
/*                                  animation                                 */
/* -------------------------------------------------------------------------- */

/* ---------------------- animate the cards when added ---------------------- */

.cardAnimation {
    -webkit-animation-name: cardAnimation;
    animation-name: cardAnimation;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
}

@keyframes cardAnimation {
    0% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
    }

    20% {
        -webkit-transform: scale(1.22, 1.22);
        transform: scale(1.22, 1.22);
    }

    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

/* -------------------------------------------------------------------------- */
/*                                 actual css                                 */
/* -------------------------------------------------------------------------- */

/* ------------------------ classes for random colors ----------------------- */

.lightsky {
    background-color: var(--lightsky);
}

.turquise {
    background-color: var(--turquise);
}

.yellow {
    background-color: var(--yellow);
}

.orange {
    background-color: var(--orange);
}

/* ------------------- classes for random animal pictures ------------------- */

.animal-1 {
    background-image: url(./img/1.PNG);
}

.animal-2 {
    background-image: url(./img/2.PNG);
}

.animal-3 {
    background-image: url(./img/3.PNG);
}

.animal-4 {
    background-image: url(./img/4.PNG);
}

.animal-5 {
    background-image: url(./img/5.PNG);
}

.animal-6 {
    background-image: url(./img/6.PNG);
}

/* ------------------------------- static css ------------------------------- */

/* ---------------------------- faux loading bar ---------------------------- */

.progress-bar-bg {
    display: none;
    margin-top: 1rem;
    border: 1px solid var(--midnight);
    border-radius: 1rem;
}

.progress-bar {
    height: .3rem;
    width: 1%;
    background-color: var(--midnight);
    border-radius: 1rem 0 0 1rem;
}

body {
    background-color: var(--cream);
    display: flex;
    justify-content: center;
    color: var(--midnight);
}

h1 {
    font-family: var(--fontsans);
    font-size: 3.5rem;
    display: inline;
    font-weight: 700;
    letter-spacing: -.1rem;
}

.checked {
    background-image: url(./img/check-circle-solid.svg);
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position-y: center;
    background-position-x: right;
    background-origin: content-box;
}

.unchecked {
    background-image: url(./img/times-circle-solid.svg);
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position-y: center;
    background-position-x: right;
    background-origin: content-box;
}

.form-title {
    font-family: var(--fontsans);
    font-weight: 700;
    color: var(--red);
    position: relative;
    width: fit-content;
    top: .8rem;
    padding: .3rem;
    border-radius: .2rem;
    background-color: var(--peach);
    opacity: 80%;
    transform: rotate(357deg);
}

.text-gradient-1 {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background-image: linear-gradient(45deg, var(--red), var(--deepsky));
    background-color: var(--midnight);
    background-size: 100%;
    background-repeat: repeat;
}

.wrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    min-width: 45vw;
    max-width: 45vw;
}

.container {
    width: 100%;
}

.form-input {
    display: flex;
    flex-direction: column;
}

.text {
    font-family: var(--fontsans);
    font-size: 1.4rem;;
    border: none;
    border-radius: .5rem;
    margin: .2rem;;
    padding: .4rem;
    box-shadow: 1px 1px 3px var(--coral);
}

.text::placeholder {
    opacity: 30%;
}

.btn {
    font-family: var(--fontsans);
    color: white;
    background-color: var(--midnight);
    font-size: 1.4rem;;
    border: none;
    cursor: pointer;
    border-radius: .5rem;
    margin-top: .8rem;
    margin-left: .2rem;
    margin-right: .2rem;
    padding: .4rem;
    transition: transform 250ms ease-in-out;
    opacity: 90%;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.btn:hover {
    opacity: 100%;
}

.btn:active {
    outline: none;
    transform: scale(.98);
    opacity: 100%;
}

.btn:focus {
    outline: none;
}

.btn:disabled {
    opacity: 40%;
    cursor: not-allowed;
}

.cards {
    margin-top: 1rem;
    padding: .4rem;
    display: flex;
    max-width: 100%;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
}

.card {
    margin: 1rem;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 180px;
    box-shadow: 1px 1px 10px var(--coral);
}

.card-top-container {
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    height: 40%;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    
}

.card-top {
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    height: 100%;
/*     background-image: url(./img/1.PNG); */
    background-size: contain;
    background-position-x: center;
/*     background-color: var(--lightsky); */
    border-bottom-left-radius: 30%;
}

.card-bottom-container {
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    height: 60%;
    display: flex;
    flex-direction: column;
/*     background-color: var(--lightsky); */
    
}

.card-bottom {
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    height: 100%;
    background-color: var(--white);
    border-top-right-radius: 30%;
    overflow-wrap: break-word;
    overflow: hidden;
}

.card-bottom-content {
    margin-top: .5rem;
    padding: 1rem;
    font-family: var(--fontsans);
    line-height: 1.1rem;
    color: var(--deepsky);
}

.card-title {
    margin-bottom: .3rem;
    font-weight: 400;
}

.card-bottom-content .card-name {
    color: var(--white);
    background-color: var(--yellow);
}

.card-bottom-content .card-color {
    color: var(--white);
    background-color: var(--turquise);
}

.card-catchphrase-p {
    margin-top: .3rem;
    line-height: .9rem;
}

.card-bottom-content .card-catchphrase {
    font-size: 0.75rem;
    font-style: italic;
    font-weight: 300;
    color: var(--white);
    background-color: var(--orange);
}

/* -------------------------------------------------------------------------- */
/*                               responsiveness                               */
/* -------------------------------------------------------------------------- */

@media only screen and (max-width: 1120px) {

    /* most of responsiveness is handled automatically due to flexbox */

    .title-graphics {
        display: flex;
        justify-content: center;
    }

    h1 {
        font-family: var(--fontsans);
        font-size: 2rem;
    }

}